<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.telkomuniversity.i_telos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BerandaMahasiswa"
            android:label="@string/title_activity_mahasiswa_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dosen"
            android:label="@string/title_activity_dosen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegistrasiMahasiswa"
            android:label="@string/title_activity_registrasi_mahasiswa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TagihanPembayaranMahasiswa"
            android:label="@string/title_activity_tagihan_pembayaran_mahasiswa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfilMahasiswa"
            android:label="@string/title_activity_profil_mahasiswa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PresensiMahasiswa"
            android:label="@string/title_activity_presensi_mahasiswa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".JadwalDosen"
            android:label="@string/title_activity_jadwal_dosen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfilDosen"
            android:label="@string/title_activity_profil_dosen"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>